{% extends "layout.html" %}

{% block body%}

<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class = "flash">

            {% for message in messages %}
            <li> {{ message }} </li>
        {% endfor %}
          </ul>
        {% endif %}
    {% endwith %}


  <h2 class="login_h"> Please log in below using your credentials </h2>

  <div class="login_4" >

 <form action="/login" method="POST">
    <div class = "form-group">
        <input id="username" name="username" autocomplete="off"  class="form-control mx-auto w-auto" placeholder="Username" type="text" minlength="8" autofocus required>
    </div>

     <div class = "form-group">
        <input id="password" name="password" autocomplete="off" class="form-control mx-auto w-auto" placeholder="Password" type="password" minlength="8"  required>
    </div>
    <button class="btn_1 btn-primary" type="submit">Log-In</button>

 </form>

</div>

</body>

{% endblock %}


